

body, div, img, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt,
blockquote, fieldset, legend, label, input, textarea {
    margin: 0; padding: 0; border: 0;
}
sh1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
h1{font-size: 200%;}
h2{font-size: 170%;}
h3{font-size: 160%;}
h4{font-size: 140%;}
h5{font-size: 120%;}


*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    
}
.clear{
    clear: both;
    width: 100%;
}
.fl{
float: left;
}
.fr{
    float: right
}
.wrapper{
	width: 1250px;
	margin: 0px auto;
}
/*header*/
header{
	width: 100%;
}

.wrap-menu{
	background-color: #003249;
	height: 100px;
	width: 100%;
}
.logo{
	float: left;
}
.wrap-menu .navbar-default{
	background-color: #003249;
	border: none;
}
.wrap-menu .navbar-default .navbar-collapse {
	float: right;
}

.wrap-menu .nav-tabs>li>a {
	height: 100px;
	color: gray;
	    border-radius: 0;
}
.wrap-menu .nav>li>a{
	padding: 38px 15px;
}
.wrap-menu .navbar-header{
	height: 100px;
}
/*search*/
.search {
	background-color: #f0edee;
	height: 55px;
}
.search-form{
	float: left;
	margin: 10px 0px  10px 357px;
}
.search-form input {
	margin-left: 10px;
	margin-right: 15px;
}
.search-form .form-inline .form-control {
	width: 250px;
}
.search-form .form-control{
	border-radius: 0px;
	border: 2px solid #000;
	color:black;
}
.search-form .btn{
	border-radius: 0px;
	padding: 6px 28px;
	background-color: #0593BB;
	border: 1px solid #0593BB;
}
.search-dropdown {
	float: right;
	margin-right: 28px ;
	margin-top: 10px;
	margin-bottom: 10px;
}
.search-dropdown .btn{
	border-radius: 0px;
	border: 2px solid #000;
	width: 133px;
}
/*slider*/
.slider img {
	background-size: 100%;
}
/*content*/
/*our goal*/
.our-goal {
	background-color: #f0edee;
	
}
.our-goal p{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
/*blocks*/
.blocks .row{
	padding: 30px 0px;
}
.component {
	background-image: url(../img/component.jpg);
	background-repeat: no-repeat;
	height: 450px;
	padding-top: 165px;
	
}
.component-describe {
	background-image: url(../img/zalivka.png);
	height: 285px;
	padding: 20px 35px 30px 35px;
}
.component-describe h1{
	margin: 0px;
}
.component-describe p{
	margin: 50px 0px 30px 0px;
	font-weight: 500;
}
.component-describe .btn{
	width: 227px;
	background-color: #0593bb;
	border-radius: 0px;
}
/*brands*/
.brands{
	background-color: #f0edee;
	height: 100px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	padding-top: 28px;
}
@media only screen and (min-width: 0px) and (max-width: 1250px) {
	.wrapper{
		width:100%;
	}
	.wrap-menu .navbar-collapse.collapse{
		float: left;
	}
	.wrap-menu .navbar-collapse {
		padding: 0px;
	}
	.our-goal {
		background-color: #003249;
		color: white;
	}
	.component{
		width: 328px;
	margin: 0px auto;
	}
	.component-describe p{
	margin: 30px 0px 10px 0px;
	font-weight: 500;
	}
}